@model DoctorClub.Models.DataModels.Posts

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_LayoutForum.cshtml";
}

@section css{

    <link href="~/Content/css/comments.css?v2" rel="stylesheet" />
}
<div class="sec_pad">
    <div class="row">
        <div class="col-lg-9">
            <div class="forum-post-top">
                <a class="author-avatar" href="#">
                    <img src="~/Content/Upload/@Html.DisplayFor(model => model.User.Image)" style="width: 50px; height: 50px;" alt="">
                </a>
                <div class="forum-post-author">
                    <a class="author-name text-danger" href="#"> @Html.DisplayFor(model => model.User.Username) </a>
                    <div class="forum-author-meta">
                        <div class="author-badge">
                            @if (Model.User.Level == 1)
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10px" height="13px">
                                    <path fill-rule="evenodd" fill="rgb(107, 112, 127)"
                                          d="M10.010,3.449 C9.996,3.196 9.996,2.955 9.996,2.714 C9.996,2.519 9.810,2.369 9.567,2.369 C7.783,2.369 6.427,1.956 5.300,1.071 C5.128,0.945 4.871,0.945 4.700,1.071 C3.573,1.956 2.217,2.369 0.433,2.369 C0.190,2.369 0.004,2.519 0.004,2.714 C0.004,2.955 0.004,3.196 -0.010,3.449 C-0.067,5.861 -0.153,11.587 4.857,12.977 L5.000,13.000 L5.143,12.977 C10.138,11.587 10.067,5.873 10.010,3.449 ZM4.726,9.505 C4.640,9.563 4.541,9.597 4.426,9.597 L4.412,9.597 C4.298,9.597 4.184,9.551 4.112,9.482 L1.964,7.195 L3.245,5.996 L4.469,7.325 L7.047,4.678 L8.324,5.937 L4.726,9.505 Z" />
                                </svg>
                                <span>Admin</span>
                            }
                            else
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="15px">
                                    <path fill-rule="evenodd" fill="rgb(131, 135, 147)"
                                          d="M11.729,12.136 L11.582,12.167 C11.362,12.415 11.125,12.645 10.869,12.857 L14.999,12.857 C15.134,12.857 15.255,12.944 15.307,13.077 C15.359,13.211 15.331,13.365 15.235,13.467 L14.488,14.268 C14.053,14.733 13.452,15.000 12.838,15.000 L2.495,15.000 C1.872,15.000 1.286,14.740 0.845,14.268 L0.098,13.467 C0.002,13.365 -0.026,13.211 0.026,13.077 C0.077,12.944 0.199,12.857 0.334,12.857 L4.463,12.857 C2.928,11.585 2.000,9.630 2.000,7.499 L2.000,6.785 C2.000,6.194 2.449,5.713 3.000,5.713 L12.333,5.713 C12.885,5.713 13.333,6.194 13.333,6.785 L13.333,7.343 C13.869,7.160 14.736,6.973 15.355,7.400 C15.783,7.696 16.000,8.209 16.000,8.928 C16.000,11.239 11.903,12.100 11.729,12.136 ZM14.994,8.002 C14.557,7.698 13.715,7.941 13.294,8.113 C13.197,9.261 12.837,10.339 12.255,11.269 C13.480,10.911 15.333,10.116 15.333,8.928 C15.333,8.462 15.223,8.158 14.994,8.002 ZM10.261,4.419 C10.376,4.573 10.353,4.798 10.209,4.921 C10.148,4.974 10.074,4.999 10.001,4.999 C9.903,4.999 9.807,4.954 9.740,4.865 C9.198,4.139 9.198,3.002 9.741,2.277 C10.086,1.816 10.086,1.040 9.742,0.580 C9.627,0.426 9.650,0.201 9.794,0.078 C9.937,-0.044 10.146,-0.020 10.263,0.134 C10.805,0.860 10.805,1.996 10.263,2.722 C9.917,3.183 9.917,3.959 10.261,4.419 ZM8.259,4.419 C8.373,4.573 8.350,4.798 8.207,4.921 C8.145,4.974 8.071,4.999 7.999,4.999 C7.901,4.999 7.804,4.954 7.738,4.865 C7.195,4.139 7.195,3.002 7.738,2.277 C8.082,1.816 8.082,1.040 7.739,0.580 C7.624,0.426 7.647,0.201 7.791,0.078 C7.935,-0.045 8.145,-0.020 8.259,0.134 C8.802,0.860 8.802,1.996 8.259,2.722 C7.915,3.183 7.915,3.959 8.259,4.419 ZM6.261,4.418 C6.376,4.572 6.353,4.797 6.210,4.920 C6.148,4.973 6.074,4.999 6.001,4.999 C5.903,4.999 5.807,4.953 5.741,4.865 C5.198,4.139 5.198,3.002 5.741,2.276 C6.085,1.815 6.085,1.039 5.742,0.580 C5.627,0.426 5.650,0.201 5.794,0.078 C5.937,-0.046 6.147,-0.020 6.262,0.133 C6.804,0.859 6.804,1.996 6.262,2.721 C5.918,3.182 5.918,3.959 6.261,4.418 Z" />
                                </svg>
                                <span>Member</span>
                            }
                        </div>
                        <div class="author-badge">
                            <i class="icon_calendar"></i>@Html.DisplayFor(model => model.Created)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="action-button-container">
                <a href="#" data-toggle="modal" data-target="#exampleModal2" class="action_btn btn-ans ask-btn" style="color: #fff;">Ask Question</a>
            </div>
        </div>
    </div>

    <!-- Forum post content -->
    <div class="q-title">
        <span style="color: #0094ff;" class="question-icon" title="Question">@Html.DisplayFor(model => model.SubCategories.Name).ToString().Substring(0, 1):</span>
        <h1> @Html.DisplayFor(model => model.Title)</h1>
    </div>
    <div class="forum-post-content">
        <div class="content">
            @Html.Raw(HttpUtility.HtmlDecode(Model.Content))
        </div>
        <div class="forum-post-btm">
            <div class="taxonomy forum-post-tags">
                <i class="icon_tags_alt"></i>
                @{ var i = 0;}
                @foreach (var t in Model.PostTags)
                {
                    { i++; }
                    <a href="@Url.Action("Index","Tags",new { slug = t.Tag.Slug})" class="badge color-ass">@t.Tag.Name</a>@(i < (Model.PostTags.Count())?',':' ')
                }
            </div>
            <div class="taxonomy forum-post-cat">
                <img src="~/Content/img/forum/logo.png" alt=""><a href="@Url.Action("Forum","Home")">DoctorClub</a>
            </div>
        </div>
        <div class="comment-form-wrap pt-5">
            <h3 class="mb-5">Leave a comment</h3>
            @using (Html.BeginForm("Comments", "Comments", FormMethod.Post, new { @id = "CommentForm" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="postSlug" value="@Model.Slug" />
                <input type="hidden" name="parent" value="@string.Empty" />
                <div class="form-group">
                    <textarea name="Content" id="contentCmt" rows="4" class="form-control" placeholder="Content"></textarea>
                </div>
                <div class="form-group">
                    <button class="action_btn btn_small reply-btn">Post<i class="icon_chat_alt"></i></button>
                </div>
            }
        </div>
        <div class="action-button-container action-btns">
        </div>
    </div>

    @if (Model.Comments.Count() > 0)
    {

        <!-- Best answer -->
        <div class="best-answer">
            @{
                var best = Model.Comments
                    .OrderByDescending(x => x.CmtLikes.Where(y => y.Status == true)
                    .Count() - x.CmtLikes.Where(y => y.Status == false).Count())
                    .FirstOrDefault();
            }
            <div class="row">
                <div class="col-lg-9">
                    <div class="forum-post-top">
                        <a class="author-avatar" href="#">
                            <img src="~/Content/Upload/@best.User.Image" alt="" style="width: 50px; height: 50px;">
                        </a>
                        <div class="forum-post-author">
                            <a class="author-name" href="#"> @best.User.Username </a>
                            <div class="forum-author-meta">
                                <div class="author-badge">
                                    @if (best.User.Level == 1)
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10px" height="13px">
                                            <path fill-rule="evenodd" fill="rgb(107, 112, 127)"
                                                  d="M10.010,3.449 C9.996,3.196 9.996,2.955 9.996,2.714 C9.996,2.519 9.810,2.369 9.567,2.369 C7.783,2.369 6.427,1.956 5.300,1.071 C5.128,0.945 4.871,0.945 4.700,1.071 C3.573,1.956 2.217,2.369 0.433,2.369 C0.190,2.369 0.004,2.519 0.004,2.714 C0.004,2.955 0.004,3.196 -0.010,3.449 C-0.067,5.861 -0.153,11.587 4.857,12.977 L5.000,13.000 L5.143,12.977 C10.138,11.587 10.067,5.873 10.010,3.449 ZM4.726,9.505 C4.640,9.563 4.541,9.597 4.426,9.597 L4.412,9.597 C4.298,9.597 4.184,9.551 4.112,9.482 L1.964,7.195 L3.245,5.996 L4.469,7.325 L7.047,4.678 L8.324,5.937 L4.726,9.505 Z" />
                                        </svg>
                                        <span>Admin</span>
                                    }
                                    else
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="15px">
                                            <path fill-rule="evenodd" fill="rgb(131, 135, 147)"
                                                  d="M11.729,12.136 L11.582,12.167 C11.362,12.415 11.125,12.645 10.869,12.857 L14.999,12.857 C15.134,12.857 15.255,12.944 15.307,13.077 C15.359,13.211 15.331,13.365 15.235,13.467 L14.488,14.268 C14.053,14.733 13.452,15.000 12.838,15.000 L2.495,15.000 C1.872,15.000 1.286,14.740 0.845,14.268 L0.098,13.467 C0.002,13.365 -0.026,13.211 0.026,13.077 C0.077,12.944 0.199,12.857 0.334,12.857 L4.463,12.857 C2.928,11.585 2.000,9.630 2.000,7.499 L2.000,6.785 C2.000,6.194 2.449,5.713 3.000,5.713 L12.333,5.713 C12.885,5.713 13.333,6.194 13.333,6.785 L13.333,7.343 C13.869,7.160 14.736,6.973 15.355,7.400 C15.783,7.696 16.000,8.209 16.000,8.928 C16.000,11.239 11.903,12.100 11.729,12.136 ZM14.994,8.002 C14.557,7.698 13.715,7.941 13.294,8.113 C13.197,9.261 12.837,10.339 12.255,11.269 C13.480,10.911 15.333,10.116 15.333,8.928 C15.333,8.462 15.223,8.158 14.994,8.002 ZM10.261,4.419 C10.376,4.573 10.353,4.798 10.209,4.921 C10.148,4.974 10.074,4.999 10.001,4.999 C9.903,4.999 9.807,4.954 9.740,4.865 C9.198,4.139 9.198,3.002 9.741,2.277 C10.086,1.816 10.086,1.040 9.742,0.580 C9.627,0.426 9.650,0.201 9.794,0.078 C9.937,-0.044 10.146,-0.020 10.263,0.134 C10.805,0.860 10.805,1.996 10.263,2.722 C9.917,3.183 9.917,3.959 10.261,4.419 ZM8.259,4.419 C8.373,4.573 8.350,4.798 8.207,4.921 C8.145,4.974 8.071,4.999 7.999,4.999 C7.901,4.999 7.804,4.954 7.738,4.865 C7.195,4.139 7.195,3.002 7.738,2.277 C8.082,1.816 8.082,1.040 7.739,0.580 C7.624,0.426 7.647,0.201 7.791,0.078 C7.935,-0.045 8.145,-0.020 8.259,0.134 C8.802,0.860 8.802,1.996 8.259,2.722 C7.915,3.183 7.915,3.959 8.259,4.419 ZM6.261,4.418 C6.376,4.572 6.353,4.797 6.210,4.920 C6.148,4.973 6.074,4.999 6.001,4.999 C5.903,4.999 5.807,4.953 5.741,4.865 C5.198,4.139 5.198,3.002 5.741,2.276 C6.085,1.815 6.085,1.039 5.742,0.580 C5.627,0.426 5.650,0.201 5.794,0.078 C5.937,-0.046 6.147,-0.020 6.262,0.133 C6.804,0.859 6.804,1.996 6.262,2.721 C5.918,3.182 5.918,3.959 6.261,4.418 Z" />
                                        </svg>
                                        <span>Member</span>
                                    }
                                </div>
                                <div class="author-badge">
                                    <i class="icon_calendar"></i>
                                    <a href="">@best.Created</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <p class="accepted-ans-mark">
                        <i class="icon_check"></i> <span>Accepted Solution</span>
                    </p>
                </div>
            </div>
            <div class="best-ans-content d-flex" style="color: #0094ff;">
                <span class="question-icon" title="The Best Answer">A:</span>
                <p>@best.Content</p>
            </div>
        </div>
    }

    <!-- All answer -->
    <div class="all-answers">
        <h3 class="title">All Replies</h3>
        <div class="filter-bar d-flex">
            <div class="sort">
                <select class="custom-select" onchange="pagination('@Model.Id',1)" id="sortBy">
                    <option selected disabled>Sort By</option>
                    <option value="1">Latest</option>
                    <option value="2">Oldest</option>
                    <option value="3">Vote</option>
                </select>
            </div>
        </div>
        <div class="comment-list">
            @Html.Action("CommentListPagination", "Comments", new { postId = Model.Id, sortBy = 1 })
        </div>

    </div>
</div>
    <div class="modal fade img_modal" id="sub-comment-modal" tabindex="-3" role="dialog" aria-hidden="false" style="background-color: transparent;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class=" icon_close"></i>
        </button>
        <div class="modal-dialog help_form" role="document">
            <div class="modal-content" style="background-color: #0094ff;">

                <div class="container-fluid">
                    <div class="shortcode_title">
                        <h1>Write a comment</h1>
                    </div>
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="postSlug" value="@Model.Slug" />
                    <input type="hidden" name="parent" value=" " />
                    <div class="form-group">
                        <textarea name="Content" rows="4" class="form-control" placeholder="Write your comment here"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="button" onclick="postComment()" class="doc_border_btn btn_small reply-btn">Post<i class="icon_chat_alt"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section scripts{
        <script src="~/Content/js/comments.js?v6"></script>
        <script>
            function commentChildLoad(parent) {
                $.post('/Comments/CommentChild?parentId=' + parent).always(function () {
                    $('#chil-comment-' + parent).load('/Comments/CommentChild?parentId=' + parent);
                });
            }
        </script>
    }
