@{
    var category = ViewBag.cats as List<DoctorClub.Models.DataModels.Categories>;
}

<div class="modal fade img_modal" id="exampleModal2" tabindex="-2" role="dialog" aria-hidden="false">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class=" icon_close"></i>
    </button>
    <div class="modal-dialog help_form" role="document">
        <div class="modal-content">
            <div class="shortcode_title">
                <h1 style="color: #0094ff;">Lets write your new post.</h1>
                <p>Share your story with everyone or you have a problem that needs someone to answer</p>
            </div>
            @using (Html.BeginForm("Create", "Posts", FormMethod.Post, new { @class = "contact_form", @id = "Post" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="form-group col-md-6">
                        <input type="text" name="Title" id="title" class="form-control" placeholder="Post title here">
                        <input type="hidden" name="Slug" id="slug">
                    </div>
                    <div class="form-group col-md-6">
                        <select name="SubCatId" id="category" class="form-control">
                            <option selected disabled>Category</option>
                            @foreach (var cats in category)
                            {
                                <optgroup label="@cats.Name">
                                    @foreach (var c in cats.SubCategories)
                                    {
                                        <option value="@c.Id">@c.Name</option>
                                    }
                                </optgroup>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group postContent">
                    <textarea name="Content" id="content" rows="5" style="height: 300px;"></textarea>
                    @*tinyMCE.activeEditor.getContent()*@
                </div>
                <div class="form-group">
                    @Html.DropDownList("Tags", null, htmlAttributes: new { @class = "form-control", @id = "addTags", @multiple = "multiple", @style = "width: 100%;" })
                </div>
                <div class="form-group">
                    <button class="btn action_btn">Post</button>
                </div>
            }
        </div>
    </div>
</div>

<!-- How can we help? Form Modal -->
<div class="modal fade img_modal" id="exampleModal3" tabindex="-3" role="dialog" aria-hidden="false">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class=" icon_close"></i>
    </button>
    <div class="modal-dialog help_form" role="document">
        <div class="modal-content">
            <div class="shortcode_title">
                <h1>How can we help?</h1>
                <p>A premium WordPress theme with integrated Knowledge Base,<br>providing 24/7 community based support.</p>
            </div>
            <form action="#" class="contact_form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Subject">
                </div>
                <div class="form-group">
                    <textarea name="Message" placeholder="Massage"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn action_btn">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>